
#searchBarDiv{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#searchBarDiv>label{
    font-size: 2rem;
}

#searchBar{
    font-size: 2rem;
    border-radius: 50px;
    color: #777;
    padding-left: 15px;
}


#searchResultsDiv{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px  ,1fr));
    gap: .25rem;
}

.searchResult {
    border: 1px red solid;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.resultHeader {
    font-size: 1.5rem;
    font-weight: bold;
}
.resultBody {
    font-size: 1rem;
    color: #777;
}

.hidden{
    display: none;
}